:root {
  /* Light Theme Colors */
  --primary-light: #007bff; 
  --secondary-light: #6c757d; 
  --background-light: #ffffff; 
  --text-light: #000000; 

  /* Dark Theme Colors */
  --primary-dark: #00aaff; 
  --secondary-dark: #bdbdbd; 
  --background-dark: #121212; 
  --text-dark: #ffffff; 
}


html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--background-light);
  color: var(--text-light);
}

a {
  text-decoration: none;
  color: var(--text-light);
}

.category-btn:hover {
  background-color: var(--primary-light) !important;
  color: var(--text-light) !important;
}

.category-btn:hover span {
  color: var(--text-light) !important;
}

::-webkit-scrollbar-thumb {
  background-color: var(--secondary-light);
}

@media (prefers-color-scheme: dark) {
  html,
  body {
    background-color: var(--background-dark);
    color: var(--text-dark);
  }

  a {
    color: var(--text-dark);
  }

  .category-btn:hover {
    background-color: var(--primary-dark) !important;
    color: var(--text-dark) !important;
  }

  .category-btn:hover span {
    color: var(--text-dark) !important;
  }

  ::-webkit-scrollbar-thumb {
    background-color: var(--secondary-dark);
  }
}

/* Additional Styles */
.search-bar {
  border: none;
  outline: none;
  width: 350px;
}

.category-btn {
  font-weight: bold !important;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: start;
  cursor: pointer;
  background: transparent;
  outline: none;
  border: none;

  padding: 7px 15px;
  margin: 10px 0px;
  border-radius: 20px;
  transition: all 0.3s ease;
}

@media screen and (max-width: 900px) {
  .category-btn {
    margin: 10px;
  }
}

@media screen and (max-width: 800px) {
  .copyright {
    display: none !important;
  }
}

@media screen and (max-width: 600px) {
  .scroll-horizontal {
    overflow: auto !important;
  }

  .react-player {
    height: 45vh !important;
  }
  .search-bar {
    width: 200px;
  }

  .react-player {
    height: 77vh !important;
    width: 100% !important;
  }
}
